/vendor/*
/assets/*
!/assets/AppAsset.php
/runtime/*
/uploads/images/*
!/uploads/images/fleet/
!/uploads/images/fleet/*.jpg
/uploads/editorimage/*
/uploads/thumbnail/*
/uploads/csv/*
/uploads/thumbnail/*
/uploads/gaanalytics/*
.env
